.photos {
  margin: 0 auto;
  width: 60%;
}

.photo {
  padding: 5px;
  width: 45%;
}

.next-btn {
  margin: 20px auto;
  display: block;
  background-color: aqua;
  width: 120px;
  height: 40px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  color: #2b8ee2;
}

.next-btn:hover {
  background-color: aquamarine;
}